:root {
  --cool-gray: #a0a4b8ff;
  --red-munsell: #ec0b43ff;
  --violet-jtc: #58355eff;
  --aquamarine: #7ae7c7ff;
  --tea-green: #d6ffb7ff;
  --maize: #fff689ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wwc-title {
  font-size: 22px !important;
  font-weight: 400 !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  @media screen and (min-width: 900px) {
    font-size: 25px !important;
  }
}

.yellow {
  color: var(--maize) !important;
}

.gray {
  color: var(--cool-gray) !important;
}

.section-header {
  text-decoration: underline;
  text-decoration-color: var(--maize);
  text-underline-offset: 7px;
  width: 350px;
  @media screen and (min-width: 900px) {
    width: 400px;
  }
}

.sizing {
  width: 350px;
  @media screen and (min-width: 900px) {
    width: 400px;
  }
}

.spinner {
  margin-right: 10px;
  font-size: 10px;
}

.call-box {
  border-radius: 2;
  color: var(--cool-gray) !important;
}
